 <ion-view view-title="Reenviar Contraseña">
	<div class="bar bar-header bar-positive">
		<a class="button button-icon icon ion-chevron-left" ui-sref="login.ingresar"></a>
		<h1 class="title">Reenviar Contraseña</h1>
	</div>
	<ion-content style="margin-top:20%">
		<div class="list list-inset padding">
			<label class="item item-input">
		    	<input type="text" placeholder="Correo">
			</label>
			<button class="button button-block button-positive ">Enviar Contraseña</button>
		</div>
	 </ion-content>
 </ion-view>