<ion-nav-view>
	  <ion-view view-title="Registro">
	  		 <div class="bar bar-header bar-positive">
	  		    <a class="button button-icon icon ion-chevron-left" ui-sref="login.ingresar"></a>
			  	<h1 class="title">Registro</h1>
			</div>
	    <ion-content style="margin-top:40px" class="padding">
	      	<div class="list list-inset">
		      	 <label class="item item-input" class="">
				    <input type="text" placeholder="Nombre Completo" id="txtRegistroNombreCompleto" data-ng-model="usuario.nombre_completo">
				</label>
				<label class="item item-input">
				    <input type="text" placeholder="Correo" id="txtRegistroCorreo" data-ng-model="usuario.correo" ng-blur='validarCorreoRepetido(usuario.correo)'>
				</label>
				<label class="item item-input">
				    <input type="text" placeholder="Usuario" id="txtRegistroUsuario" data-ng-model="usuario.usuario" ng-blur="validarUsuarioRepetido(usuario.usuario)">
				</label>
				<label class="item item-input">
				    <input type="password" placeholder="Contraseña" id="txtRegistroContrasenia" data-ng-model="usuario.contrasenia">
				</label>
				<label class="item item-input">
				    <input type="password" placeholder="Repita Contraseña" id="txtRegistroContraseniaRepetida" data-ng-model="usuario.contrasenia_repetida">
				</label>
			</div>
			<ion-list>
  				<ion-checkbox ng-model="filter.red" style="border: transparent;" ng-click="showPopup()">Términos y condiciones</ion-checkbox>
  				<button class="button button-block button-positive" ng-click="validarForm(usuario)">Registarse</button>
  			</ion-list>
	    </ion-content>
	  </ion-view>
</ion-nav-view>