<!-- Inicio view-content -->
<ion-nav-view name="content">
</ion-nav-view>
<!-- Fin view-content -->	
<div class="bar bar-footer">
  	<div class="row texto-center texto-plomo" style="">
		<div class="col col-100">
		  	Aplicación Desarrollada por Software Web Perú EIRL
		</div>
	</div>
</div>
</ion-view>
<ion-nav-view>
	  <ion-view view-title="Login">
	  <!-- Inicio view-content -->
		<ion-nav-view name="content">
		</ion-nav-view>
		<!-- Fin view-content -->
	   	<div class="bar bar-footer">
		  	<div class="row texto-center texto-plomo" style="">
				<div class="col col-100">
				  	Aplicación Desarrollada por Software Web Perú EIRL
				</div>
			</div>
		</div>
	  </ion-view>
</ion-nav-view>